# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.tsbuildinfo
next-env.d.ts

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Vercel
.vercel

# Backup files (optional - uncomment if you don't want to commit backups)
# *.backup.*